
{% extends 'generator/layout.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid sapiente expedita vero ullam laboriosam odit. Ab incidunt eum, labore corporis, repellendus placeat qui consectetur fugit voluptate unde mollitia, eaque recusandae nisi aliquam quo consequuntur! Fugiat, accusantium dolores. Ut quisquam quo placeat nobis debitis harum minima voluptates possimus cum libero similique unde temporibus natus, amet fuga accusantium iure, ducimus assumenda veniam. Impedit quaerat praesentium minima adipisci, unde, numquam iste laudantium vero beatae incidunt, optio ullam rerum! Ab, repellat fuga nulla iusto corrupti ex ut. Asperiores, cupiditate eum itaque aut vel ipsam, reprehenderit laudantium quas, id totam exercitationem dolore ad perspiciatis hic!</p>
{% endblock %}